<link rel="stylesheet" href="../sass/header.css">
<!-- top -->
<div class="outer">
    <div class="container">
        <ol class="left">
            <li><input type="text" value="上海市" id="cityChoice">
                <input type="hidden" id="province" value="">
                <input type="hidden" id="city" value="">
                <em></em>
            </li>
        </ol>
        <ul class="right">
            <li><a href="login.html">请登录</a></li>
            <li><a href="javascript:;">注册</a></li>
            <li><a href="javascript:;">签到有礼</a>
                <p><b>连续签到享心动好礼</b><button>签到</button></p>
            </li>
            <li><a href="javascript:;">我的订单</a></li>
            <li><a href="javascript:;">我的特卖<em></em></a>
                <ol>
                    <li><a href="javascript:;">我的特卖</a><em></em></li>
                    <li><a href="javascript:;">商品收藏</a></li>
                    <li><a href="javascript:;">品牌收藏</a></li>
                    <li><a href="javascript:;">我的足迹</a></li>
                </ol>
            </li>
            <li><a href="javascript:;">会员俱乐部<em></em></a>
                <ol>
                    <li><a href="javascript:;">会员俱乐部</a><em></em></li>
                    <li><a href="javascript:;">俱乐部首页</a></li>
                    <li><a href="javascript:;">唯品币兑换</a></li>
                </ol>
            </li>
            <li><a href="javascript:;">客户服务<em></em></a>
                <ol>
                    <li><a href="javascript:;">客户服务</a><em></em></li>
                    <li><a href="javascript:;">联系客服</a></li>
                    <li><a href="javascript:;">帮助中心</a></li>
                    <li><a href="javascript:;">服务中心</a></li>
                    <li><a href="javascript:;">知识产权投诉</a></li>
                </ol>
            </li>
            <li><a href="javascript:;">手机版</a>
                <span></span>
            </li>
            <li><a href="javascript:;">更多</a></li>
        </ul>
    </div>
</div>
<!-- logo和search区 -->
<div class="container second">
    <div class="logo"><a href="javascript:;"><img src="../images/logo.png" alt=""></a></div>
    <div class="ico"></div>
    <div class="c-search  c-category-search" id="J-search">
        <div class="c-search-form">
            <input class="c-search-input  J-search-input" type="text" mars_sead="search_entrance_click" placeholder=""
                autocomplete="off" max-length="100">
            <a class="c-search-button  J-search-button  J_fake_a" href="###" mars_sead="search_button">
                <span class="c-search-icon"></span>
            </a>
        </div>
        <div class="J-search-hotwords-content">
            <ul class="c-search-hotwords-list J_search_hotwords_list">
                <li>
                    <span class=" hidden ">|</span>
                    <a href="javascript:;" class=" " data-word="连衣裙">连衣裙</a>
                </li>
                <li>
                    <span class="">|</span>
                    <a href="javascript:;" class=" " data-word="手机">手机</a>
                </li>
                <li>
                    <span class="">|</span>
                    <a href="javascript:;" class=" " data-word="护肤套装">护肤套装</a>
                </li>
                <li>
                    <span class="">|</span>
                    <a href="javascript:;" class=" " data-word="女式T恤">女式T恤</a>
                </li>
                <li>
                    <span class="">|</span>
                    <a href="javascript:;" class=" " data-word="女式休闲裤">女式休闲裤</a>
                </li>
                <li>
                    <span class="">|</span>
                    <a href="javascript:;" class=" " data-word="耐克Nike">耐克Nike</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ---------nav-------------- -->
<nav class="main-nav">
	<div class="main-nav" id="J_main_nav">
		<div class="head-inner">
			<ul class="main-nav-link clearfix" id="J_main_nav_link">
				<li id="J_main_nav_category" class="nav-category"><a href="javascript:;"><img
							class="link-front-icon J-link-front-icon"
							src="//b.appsimg.com/upload/momin/2018/09/10/150/1536548648745.png"
							data-original="//b.appsimg.com/upload/momin/2018/09/10/150/1536548648745.png">商品分类</a>
						<!-- ----------------选项卡内容区-------------------   -->
						<div class="nav-category-data" id="J_main_nav_category_data">
							<ul class="cate-menu" id="J_main_nav_category_menu">
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_30074"
									data-cateid="30074" data-name="女装/男装/内衣">
									<span class="menu-item-tit">女装/男装/内衣</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_324442"
									data-cateid="324442" data-name="女鞋/男鞋/箱包">
									<span class="menu-item-tit">女鞋/男鞋/箱包</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_30071"
									data-cateid="30071" data-name="护肤彩妆/个护">
									<span class="menu-item-tit">护肤彩妆/个护</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_30066"
									data-cateid="30066" data-name="运动户外">
									<span class="menu-item-tit">运动户外</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_30068"
									data-cateid="30068" data-name="家电数码">
									<span class="menu-item-tit">家电数码</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_30070"
									data-cateid="30070" data-name="母婴童装">
									<span class="menu-item-tit">母婴童装</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_29751"
									data-cateid="29751" data-name="手表配饰">
									<span class="menu-item-tit">手表配饰</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_30069"
									data-cateid="30069" data-name="居家用品">
									<span class="menu-item-tit">居家用品</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_71958"
									data-cateid="71958" data-name="唯品生活">
									<span class="menu-item-tit">唯品生活</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_44285"
									data-cateid="44285" data-name="唯品国际/唯品奢">
									<span class="menu-item-tit">唯品国际/唯品奢</span>
								</li>
			
								<li class="cate-menu-item J_main_nav_category_menu_item" mars_exposure_module="category_all_expose_331849"
									data-cateid="331849" data-name="医药健康">
									<span class="menu-item-tit">医药健康</span>
								</li>
							</ul>
							<ol class="ol_one">
							
							</ol>
							<div class="cate-pop">
								<div class="nav-cate-data-loading">
									<span class="ii-loading-pink-32x32"></span>
								</div>
								<div id="J_main_nav_category_pop"></div>
							</div>
						</div>
						<script src="../js/jquery-2.1.3.min.js"></script>
						<script src="../js/xxk.js"></script>
						<!-- --------------- -->
					</li>
				<li><a href="javascript:;" class="main-nav-atag nav_current">首页</a></li>
				<li><a href="javascript:;" class="main-nav-atag  menu-item-isbold"><img class="link-front-icon J-link-front-icon"
							src="//b.appsimg.com/upload/momin/2020/07/06/159/1594023637101.gif"
							class="link-front-icon J-link-front-icon">时尚风暴</a></li>
				<li><a href="javascript:;">最后疯抢</a></li>
				<li><a href="javascript:;">唯品快抢</a></li>
				<li><a href="javascript:;">女装</a></li>
				<li><a href="javascript:;">母婴</a></li>
				<li><a href="javascript:;">家电</a></li>
				<li><a href="javascript:;">国际</a></li>
				<li><a href="javascript:;">美妆</a></li>
				<li><a href="javascript:;">鞋包</a></li>
				<li><a href="javascript:;">男装</a></li>
				<li class="more-wrap J_Navmore_wrap" data-hover="more-wrap-hover">
					<a class="main-nav-atag ">更多</i>
					</a>
					<div class="channel-item-group" id="J-channel-item-group"><a class="main-nav-atag ">
						</a>
						<div class="channel-item"><a class="main-nav-atag ">
							</a><a href="javascript:;">
								运动 </a>
						</div>
						<div class="channel-item">
							<a href="javascript:;">
								家居 </a>
						</div>
						<div class="channel-item">
							<a href="javascript:;">
								生活 </a>
						</div>
						<div class="channel-item">
							<a href="javascript:;">
								配饰 </a>
						</div>
						<div class="channel-item">
							<a href="javascript:;">
								唯品·奢 </a>
						</div>
						<div class="channel-item">
							<a href="javascript:;">
								扶贫 </a>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
</nav>